<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.cloudy.com.acfun">

    <application>
        <activity android:name=".AcFunActivity"></activity>
        <activity android:name=".A_AcFunActivity" />
    </application>

</manifest>