<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangtuo.learndeme">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name="com.example.zhangtuo.learndeme.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.zhangtuo.learndeme.LifeCyclerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="ui.immerse.ImmersedStatusActivity" />

        <activity android:name="ui.customview.CustomViewActivity" />

        <activity android:name="ui.audiochartview.AudioChartActivity" />

        <activity android:name=".PermissionActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <!-- AK鉴权 -->
        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="e3vGBXwHHG1GRSOZGhDKCaqWVNZiy1Wy" />

    </application>

</manifest>